<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Projeto nodeJs e MySql</title>

    {{!--bootstrap --}}
    
    <link rel="stylesheet" href="../bootstrap/css/bootstrap.min.css">
    <script src="../bootstrap/js/bootstrap.bundle.min.js"></script>

     {{!--css  chama o arquivo dentro da pasta css--}}
    <link rel="stylesheet" href="../css/estilo.css">
</head>
<body>
    {{>menu}}
    {{{body}}}
</body>
</html>