

<main>


    {{!--formulario --}}
    <div class="container">

        <div class="row">
            <div class="col-6 offset-3"></div>


            {{!-- mesagens --}}
           {{>mesagens}}
                
     
            <form action="/cadastrar" method="post" enctype="multipart/form-data">


                <input type="hidden" name="nomeImagem" value = "{{produto.imagem}}">;
                <input type="text" name="nome" class="form-control" placeholder="nome do produto">
                <input type="number" name="valor" class="form-control" placeholder="valor do produto">

                <select name="categoria" class="form-control">
                    <option value="">Categoria do produto</option>
                    <option value="alimenticio">Alimenticio</option>
                    <option value="eletronico">Eletronico</option>
                    <option value="vestuario">Vestuario</option>
                </select>


                <input type="file" name="imagem" class="form-control" >
                  <input type="submit" class="btn btn-primary"value="Cadastrar"  >
            {{!-- formujlario para cadastro de produtos e listagem do nosso produtos  --}}   

            </form>
        
        </div>
    </div>
  
</main>